<%- include('../template/head') -%>

<body>
  <div>
    <%- include('../template/nav.ejs')-%>

    <main>
      <h1>EJS first document </h1>
      <p>This is  sample app to use EJS</p>
      <p></p>
    </main>

    <%- include('../template/footer.ejs')-%>

  </div>

</body>
</html>