<header>
  <div>
    <h1>EJS menu :</h1>
    <nav>
      <a id="home" href="/">home</a><br>
      <a id="links" href="/links">links</a><br>
      <a id="list" href="/list">list</a><br>
      <a id="table" href="/table">table</a>
    </nav>
  </div>
</header>